body {
  position: relative;
  background-image: url("https://cdn.pixabay.com/photo/2016/02/19/11/19/office-1209640__480.jpg");
  background-size: cover;
}

.centered {
  position: absolute;
  top: 600%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(255, 255, 255, 0.7);
  font-size: 80px;
}
